<div class="banner">
    <h1>About</h1>
    <h5>Web Business Creator Agency</h5>
    <a class="btn" href="#">Apply now</a>
  <div class="container-center">
  <div class="container-left">
    <%= image_tag("lewagon-bg.png", style: "height:500px ;width:auto;") =%>
  </div>
  </div>
</div>

<section class="about-me">
  <div class="container-center">
    <div class="container-left">
      <h2 style="color:#79b5c0;" class="primary-title"><strong>About Me</strong></h2>
      <h2><strong>Hello, I am Jan, Freelance Fullstack - Web Developer</strong></h2>
      <br><h5><em>Full - Service Webbusinesscreator</em></h5><br><p>I started with a dream of working as digital nomad and as a Junior Full Stack Web Developer
      <br>as of ot the student's at world's best coding Bootcamp at Le Wagon.
      <br>After finished successful the Bootcamp, i started my freelance carrer as a digital Nomad Web Developer<br>
      and worked for Customers from Mexico. Now I am expand my Business and helping
      all people, Businesses<br>and Start-Ups all over the world to build a successful Web-Business for Enterpreneurs, Freelancers, Coaches, or passive Income Creators.
      </p>
      <a class="btn" href="https://calendly.com/workwithjanpeter/web-development" target="_blank">Jetzt Creator Call buchen</a>
    </div>
  </div>
</section>
