<div class="banner">
    <h1>About</h1>
    <h5>Web Business Creator Agency</h5>
    <a class="btn" href="#">Apply now</a>
  <div class="container-center">
  <div class="container-left">
    <%= image_tag("lewagon-bg.png", style: "height:500px ;width:auto;") =%>
  </div>
  </div>
</div>

<section class="about-me">
  <div class="container-center">
    <div class="container-left">
      <h2 style="color:#79b5c0;" class="primary-title"><strong>About Me</strong></h2>
      <h2><strong>Hello, I am Jan, Freelance Fullstack - Web Developer</strong></h2>
      <br><h5><em>Full - Service Webbusinesscreator</em></h5><br><p>I started with a dream of working as digital nomad and as a Junior Full Stack Web Developer
      <br>as of ot the student's at world's best coding Bootcamp at Le Wagon.
      <br>After finished successful the Bootcamp, i started my freelance carrer as a digital Nomad Web Developer<br>
      and worked for Customers from Mexico. Now I am expand my Business and helping
      all people, Businesses<br>and Start-Ups all over the world to build a successful Web-Business for Enterpreneurs, Freelancers, Coaches, or passive Income Creators.
      </p>
      <a class="btn" href="https://calendly.com/workwithjanpeter/web-development" target="_blank">Jetzt Creator Call buchen</a>
    </div>
    <div class="container-right">
    <%= image_tag("lewagon.webp", style: "height:200px ;width:auto;") =%>
    </div>
  </div>
</section>

<section class="two-texts">
<div class="container-center">
  <div class="container-left">
  <h3>My Vision</h3>
  <p>I am Building Web-Businesses for Company's to grow <br>
  and for Employee's who want to break free from their 9 to 5 rat race.
  <br> Become an Freelancer, Enterpreneur, Digital Nomad or get build an Web-Business for passive Income to
  your Full-time Employment. I learned to code to change Life's by Le Wagon.</p>
  </div>
  <div class="container-right">
  <ol>
  <li><h4><strong>We make your Business great again!</strong></h4></li>
  <li><h4><strong>We build your dream Business, make it work for you!</strong></h4></li>
  <li><h4><strong>We support "THE NEW WORK: LIFE - WORK - BALANCE:<br>
  Work from everywhere you prefer, matching your daily Life schedule!</strong></h4></li>
  </ol>
</div>
</section>
