
<div class="banner">
    <h1>WEB BUSINESS CREATOR</h1>
    <!--<p><em>We build your Freedom tool</em></p>-->
    <p><span data-controller="typed-js"></span></p>
    <a class="btn" href="#">Apply now</a>
</div>

<!-- Cards section -->
<section class="offer">
<div class="container">
    <p>
    <h2 class="section-title"><strong>Our Services</strong></h2>
    </p>
    <p>Finde das für Dich passende Web-Business, was ich für dich entwerfe.</p>
  <div class="cards">

    <!-- WEB  APP BUSINESS -->
    <div id="card-blue">
      <i class="fa-solid fa-laptop-code"></i>
      <h2><b>Programmiertes APP WEB BUSINESS</b></h2>
      <p>In Ruby on Rails für Webseiten in HTML, CSS, Sass, Bootstrap, <br> Javascript, jQuery, SQL, PostgreSQL, MVC – Architecture,
      OOP, Git, Github, Heroku, UX, UI Design mit Figma und Excel für die User-Stories</p>
    </div>

    <!-- Wordpress offer -->
    <div id="card-sand">
      <i class="fa-brands fa-wordpress"></i>
      <h2><b>Wordpress Mitgliederbereich Business</b></h2>
      <p>WordPress – Webseiten Hosting, Gestaltung der Webseite <br>
      mit Divi – React App Mitgliederbereich für verkaufsfertige Online Kurse mit Memberwunder</p>
    </div>

    <!-- Virtual Assistant offer -->
    <div class="card">
      <i class="fa-solid fa-handshake-angle"></i>
      <h2><b>Virtual Assistant</b></h2>
      <p>Copywriting, Videobearbeitung, SEO, Social Media.<br>
        Operative Unterstützung, Teambetreuung, Kundenbetreuung, Telefonannahme, Verwaltung, Pflege von Stammdaten / Prozessen in SAP und CRM Tools</p>
    </div>
  </div>
</div>
</section>

<section class="logobanner">
  <div class="container">
    <%= image_tag("logobanner.png", style: "height:200px ;width:auto;") =%>
  </div>
</section>

<section class="video-offer">
  <div class="container-center">
    <div class="container-laptop">
     <!-- <iframe id="youtube-video" width="560" height="315" src="https://www.youtube.com/embed/cutCowRLnqY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
    </div>
    <div class="container-left">
      <h2 class="primary-title"><strong>Was dir ein WEB-BUSINESS ermöglicht:</strong></h2>
      <p>Buche Dir <em>jetzt</em> deinen Creator-Call und lehne dich entspannt zurück, <br>wir besprechen dein Traum-Geschäftsmodell.
      Bereite danach einfach <br> dein Neues Leben schon vor, <br>während ich dir dein Werkzeug zum Online Geld verdienen <br> und ortsunabhängigen Arbeiten aufbaue.<br>
      </p>
      <a class="btn" href="https://calendly.com/workwithjanpeter/web-development" target="_blank">Jetzt Creator Call buchen</a>
  
    </div>
  </div>
</section>
    
<section class="app-business">
 <div class="container-center">
    <div class="container-left">
     <%= image_tag("web-1935737_1280.png",style: "height:700px ;width:auto;") =%>
    </div>
    
    <div class="cointainer-laptop">
       <h2 class="primary-title"><strong>Ich programmiere App-Business für Dich</strong></h2>
      <p>Du hast eine Idee für eine App, mit der Du dein Business einfach managen kannst, <br>um somit deine Einnahmen mit weniger Arbeit zu vervielfachen?
       </p>
    </div>
  </div>   
</section>

<!--Footer-->
<section class="footer">
<div class="footer">
  <div class="list-inline">
    <a class="list-inline-item" href="https://github.com/JanPeterLeWebdeveloper/" target="_blank"><i class="fab fa-github"></i></a>
    <a class="list-inline-item" href="https://www.instagram.com/webbusinesscreator" target="_blank"><i class="fab fa-instagram"></i></a>
    <a class="list-inline-item" href="https://www.linkedin.com/in/jan-peter-webdeveloper/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <p>WEB-BUSINESS-CREATOR © 2022 - <em>We build your Freedom tool <i class="fas fa-heart"></i>  to live, work and travel free</em> </p> 
  </div>
</div>
</section>
<!--Footer-->