.container {
    width: 900px;
    margin: 60px auto;
    text-align: center;
    padding: 20px;
    justify-content: center;

    &p {
        color: black;
    }

    &img {
      text-align: center;
      width: auto;
    }
  }

.container-center {
  align-items:center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  overflow:hidden;
  margin: 0 auto;
  min-height: 100%;
  height: 100%;
  position: relative;
  margin: 0 auto;

}

.container-laptop {
  float: right;
  background-image: asset-url('laptopvright.png');
  background-size: cover;
  background-position: left;
  width: 700px;
  height: 500px;
  margin: 0 auto;
  padding: 200px 0;
}

.container-left {
  padding-top: 100px;
  padding-left: 100px;
  padding-bottom:-200px;
}

.container-right {
  margin-left: 50px;
  padding-top: 100px;
  padding-left: 100px;
  padding-bottom: -200px;
}

