.footer {
	background: #171717;
	color: white;
	font-size: 20px;
	margin-top: 0;
	text-align: center;
    align-items: right auto;
    padding: 20px;
    margin-bottom: 0 auto;
    bottom: 0;
    margin: 0 auto;

    &a {
        font-size: 30px;
        color: rgba(255, 255, 255, 0.811);;
    }

    &a:hover {
     color:#79b5c0;
    }
	
}


.footer .fa-heart {
    color: #D23333;
  }