.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  transition: 0.5s background-color ease;
  position: sticky;
  top: 0;
  display: block;
  flex-grow: 0;
  z-index: 2;
  scrollbar-shadow-color: black;
  box-shadow: 1px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon-white {
  background-color: white ;
}
