// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/home";

/* Responsive - Phone */
@media (min-width: 300px) {
    .container {
      width: 400px;
    }
    .cards {
      grid-template-columns: 1fr;
    }
  }

    /* Responsive - Tablet */
  @media (min-width: 700px) {
    .container {
      width: 600px;
    }
    .cards {
      grid-template-columns: 1fr 1fr;
    }
  }
   /* Responsive - Computer */
  @media (min-width: 1000px) {
    .container {
      width: 900px;
    }
    .cards {
        grid-template-columns: 1fr 1fr 1fr;
      }
    .container-center {

      flex-direction: row;
     }
    }
    /* Responsive - Computer */
