<!--Footer-->
<section class="footer">
<div class="footer">
  <div class="list-inline">
    <a class="list-inline-item" href="https://github.com/JanPeterLeWebdeveloper/" target="_blank"><i class="fab fa-github"></i></a>
    <a class="list-inline-item" href="https://www.instagram.com/webbusinesscreator" target="_blank"><i class="fab fa-instagram"></i></a>
    <a class="list-inline-item" href="https://www.linkedin.com/in/jan-peter-webdeveloper/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <p>WEB-BUSINESS-CREATOR AGENCY © 2023 - <em>We build your Freedom tool <i class="fas fa-heart"></i>  to live, work and travel free</em> </p>
  </div>
</div>
</section>
<!--Footer-->
